.vscode/extensions.json
.vscode/settings.json
target/product-web-app.war
target/classes/com/pm05/product_web_app/controllers/CreateProductServletController.class
target/classes/com/pm05/product_web_app/controllers/EditProductServletController.class
target/classes/com/pm05/product_web_app/controllers/HomeServletController.class
target/classes/com/pm05/product_web_app/controllers/ProductListServletController.class
target/classes/com/pm05/product_web_app/models/Product.class
target/classes/com/pm05/product_web_app/models/db/DBCrud.class
target/classes/com/pm05/product_web_app/models/db/MySQLConnector.class
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/product-web-app/index.jsp
target/product-web-app/WEB-INF/web.xml
target/product-web-app/WEB-INF/classes/com/pm05/product_web_app/controllers/CreateProductServletController.class
target/product-web-app/WEB-INF/classes/com/pm05/product_web_app/controllers/EditProductServletController.class
target/product-web-app/WEB-INF/classes/com/pm05/product_web_app/controllers/HomeServletController.class
target/product-web-app/WEB-INF/classes/com/pm05/product_web_app/controllers/ProductListServletController.class
target/product-web-app/WEB-INF/classes/com/pm05/product_web_app/models/Product.class
target/product-web-app/WEB-INF/classes/com/pm05/product_web_app/models/db/DBCrud.class
target/product-web-app/WEB-INF/classes/com/pm05/product_web_app/models/db/MySQLConnector.class
target/product-web-app/WEB-INF/lib/jakarta.el-api-5.0.0.jar
target/product-web-app/WEB-INF/lib/jakarta.servlet.jsp.jstl-3.0.1.jar
target/product-web-app/WEB-INF/lib/jakarta.servlet.jsp.jstl-api-3.0.0.jar
target/product-web-app/WEB-INF/lib/mysql-connector-j-8.0.33.jar
target/product-web-app/WEB-INF/lib/protobuf-java-3.21.9.jar
target/product-web-app/WEB-INF/views/CreateProductView.jsp
target/product-web-app/WEB-INF/views/EditProductView.jsp
target/product-web-app/WEB-INF/views/Footer.jsp
target/product-web-app/WEB-INF/views/Header.jsp
target/product-web-app/WEB-INF/views/HomeView.jsp
target/product-web-app/WEB-INF/views/Menu.jsp
target/product-web-app/WEB-INF/views/ProductListView.jsp
